<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753914379569-hl8d5eqptuejj45f1gop9tn5i9fnlg80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753914379569-hl8d5eqptuejj45f1gop9tn5i9fnlg80</string>
	<key>API_KEY</key>
	<string>AIzaSyCcHQbqIh314d4r-nndGtHS0fsFV2CC13U</string>
	<key>GCM_SENDER_ID</key>
	<string>753914379569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lobevent.flutterFrontend</string>
	<key>PROJECT_ID</key>
	<string>lobevent</string>
	<key>STORAGE_BUCKET</key>
	<string>lobevent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753914379569:ios:4203bd3ee0523f12fb8410</string>
	<key>DATABASE_URL</key>
	<string>https://lobevent.firebaseio.com</string>
</dict>
</plist>